[class*="azu_vc_ico"].vc-element-icon {
	background-position: 0 0 !important;
}

.azu_vc_ico_social_icons,
.azu_vc_sc_social_icons.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}

.azu_vc_ico_blog_posts,
.azu_vc_sc_blog_posts.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}


.azu_vc_ico_team,
.azu_vc_sc_team.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}

.azu_vc_ico_testimonials,
.azu_vc_sc_testimonials.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}

.azu_vc_ico_gap,
.azu_vc_sc_gap.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}

.azu_vc_ico_separator,
.azu_vc_sc_separator.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}


.azu_vc_ico_button,
.azu_vc_sc_button.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}

.azu_vc_ico_portfolio,
.azu_vc_sc_portfolio.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}

.azu_vc_ico_gallery,
.azu_vc_sc_gallery.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}

.azu_vc_ico_carousel,
.azu_vc_sc_carousel.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}

.azu_vc_ico_icon,
.azu_vc_sc_icon.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}

.azu_vc_ico_page_title,
.azu_vc_sc_page_title.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}

.azu_vc_ico_single_meta,
.azu_vc_sc_single_meta.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}


.azu_vc_ico_dropcaps,
.azu_vc_sc_dropcaps.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}

.azu_vc_ico_price,
.azu_vc_sc_price.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}


.azu_vc_ico_fancyblock,
.azu_vc_sc_fancyblock.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}

.azu_vc_ico_subscriber,
.azu_vc_sc_subscriber.wpb_content_element > .wpb_element_wrapper {
	background-image: url("../images/icon.png") !important;
}


